.iconContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: black;
  border: 1px solid darkslategrey;
  padding: 0.5rem;
  border-radius: 50%;
}
